 .u-section-1 {
  background-image: url("images/Standard-Intermezzo-Coffee-Cocktails-Downtown.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 3px 20px rgba(44,204,196,0.95);
  margin: 236px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Rubik;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 575px;
  grid-auto-columns: calc(50% - 5px);
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 18px 12px 0 0;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-family: Rubik;
  margin: 45px 12px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 45px 12px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 18px 12px 0 0;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-family: Rubik;
  margin: 45px 12px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 45px 12px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 18px 12px 0 0;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin-top: 18px;
  background-image: url("");
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-family: Rubik;
  margin: 45px 12px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 45px 12px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 18px 12px 0 0;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin-top: 18px;
  background-image: url("");
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-family: Rubik;
  margin: 45px 12px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 45px 12px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 18px 12px 0 0;
}

.u-section-2 .u-image-5 {
  height: 298px;
  margin-top: 18px;
  background-image: url("");
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-family: Rubik;
  margin: 45px 12px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 45px 12px 0 auto;
  padding: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 48px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-text-1 {
  font-family: Rubik;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Rubik;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 19px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 445px;
  width: 1140px;
  margin: 13px 0 10px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 12px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 12px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 40.54%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 12px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 12px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 564px;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 939px;
}

.u-section-4 .u-text-1 {
  font-family: Rubik;
  font-size: 1.5625rem;
  font-weight: 600;
  margin: 39px 96px 0 920px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 41px;
  margin-bottom: 58px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 725px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-4 .u-image-1 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-image-2 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-4 .u-image-3 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-4 .u-image-4 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-4 .u-image-5 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-4 .u-image-6 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-4 .u-image-7 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-4 .u-image-8 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 816px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
    min-height: 598px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 596px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 1832px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 416px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 216px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 912px;
}

.u-section-5 .u-text-1 {
  font-family: Rubik;
  font-size: 1.5625rem;
  font-weight: 600;
  margin: 36px 73px 0 896px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 17px 0 58px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 725px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-5 .u-image-1 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-5 .u-image-2 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-5 .u-image-3 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-5 .u-image-4 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-5 .u-image-5 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-5 .u-image-6 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-5 .u-image-7 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-5 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-5 .u-image-8 {
  height: 237px;
  width: 237px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-5 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: 500;
    margin-right: 0;
    margin-left: 769px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
    min-height: 598px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 549px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 1832px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 369px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 169px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 912px;
}

.u-section-6 .u-text-1 {
  font-family: Rubik;
  font-size: 1.5625rem;
  font-weight: 600;
  margin: 36px 73px 0 896px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 17px 0 58px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 725px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-6 .u-image-1 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-6 .u-image-2 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-6 .u-image-3 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-6 .u-image-4 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-6 .u-image-5 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-6 .u-image-6 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-6 .u-image-7 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-6 .u-image-8 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-weight: 500;
    margin-right: 0;
    margin-left: 769px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
    min-height: 598px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 549px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 1832px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 369px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 169px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 912px;
}

.u-section-7 .u-text-1 {
  font-family: Rubik;
  font-size: 1.5625rem;
  font-weight: 600;
  margin: 36px 73px 0 896px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin: 17px 0 58px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 725px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-7 .u-image-1 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-7 .u-image-2 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-7 .u-image-3 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-7 .u-image-4 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-7 .u-image-5 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-7 .u-image-6 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-7 .u-image-7 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

.u-section-7 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-7 .u-image-8 {
  height: 233px;
  width: 233px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-9 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.5625rem;
  width: 171px;
  margin: 26px auto 0;
}

.u-section-7 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px 73px 0 auto;
  padding: 8px 18px 8px 17px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-weight: 500;
    margin-right: 0;
    margin-left: 769px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
    min-height: 598px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 549px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 1832px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 369px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 169px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 632px;
}

.u-section-8 .u-text-1 {
  font-family: Rubik;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 73px 68px 0 849px;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 51px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-8 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-family: Rubik;
  margin: 20px 13px 0 auto;
}

.u-section-8 .u-text-3 {
  font-family: Rubik;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  font-family: Rubik;
  margin: 20px 13px 0 auto;
}

.u-section-8 .u-text-5 {
  font-family: Rubik;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-6 {
  font-family: Rubik;
  margin: 20px 13px 0 auto;
}

.u-section-8 .u-text-7 {
  font-family: Rubik;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 717px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 373px;
  }

  .u-section-8 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 497px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 857px;
  }

  .u-section-8 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 317px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 117px;
  }

  .u-section-8 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 560px;
}

.u-section-9 .u-group-1 {
  min-height: 509px;
  margin-top: 26px;
  margin-bottom: 26px;
  height: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 65px 81px 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 35px 43px 0 645px;
}

.u-section-9 .u-image-1 {
  width: 337px;
  height: 369px;
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
  margin: -220px auto 0 95px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: -105px 152px 0 auto;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-2 {
    margin-left: 488px;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    height: 50px;
    margin-top: -106px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    width: 320px;
    height: 350px;
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: -87px;
  }
}